footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer>div {
    position: relative;
    width: 100%;
    height: 58px;
    z-index: 1;
    background: #ffffff;
}

#message-input {
    position: absolute;
    margin: 6px;
    margin-top: 5px;
    padding: 12px;
    padding-left: 16px;
    padding-right: 76px;
    font-size: 16px;
    background: #ebebeb;
    border: 1px solid #979797;
    border-radius: 100px;
    width: calc(100% - 12px);
    box-sizing: border-box;
    font-family: 'Noto Sans', 'Noto Sans JP', sans-serif;
    z-index: 2;
    transition-duration: 0.2s;
}

input[type="text"]:focus {
    outline: none;
}

#send {
    display: flex;
    position: fixed;
    right: 11px;
    bottom: 9px;
    width: 52px;
    height: 40px;
    border: none;
    border-radius: 100px;
    background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c);
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition-duration: 0.2s;
    z-index: 3;
}

#send:after {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: linear-gradient(225deg, #405de6, #5851db, #833ab4, #c13584, #e1306c);
    opacity: 0;
    transition: .3s;
    border-radius: 100px;
}

#send:hover:after {
    opacity: 1;
}

.footer-buttons {
    display: flex;
    position: fixed;
    width: 38px;
    height: 38px;
    justify-content: center;
    align-items: center;
    bottom: 10px;
    right: 71px;
    transition-duration: 0.3s;
    border-radius: 4px;
    z-index: 3;
}

.footer-buttons:hover {
    background: #cecece;
}