html,
body {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background: #00000017;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #a7a7a7;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #717171;
}

.main {
    font-family: 'Noto Sans', 'Noto Sans JP', sans-serif;
}

.main>main {
    display: flex;
}

.users-area {
    width: 210px;
    background: var(--color-users-backgroud);
}

.expand-button {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition-duration: 0.17s;
}

.expand-button:hover {
    background: #d6d6d6;
}

.expand-button>a {
    color: var(--color-expand-arrow);
    font-size: 14px;
}

.circle-online,
.circle-offline {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 100px;
    margin-top: 1px;
    margin-left: 6px;
    margin-right: 6px;
}

.circle-online {
    background: #00bb1f;
}

.circle-offline {
    background: #b9b9b9;
}

#users-data {
    display: flex;
    flex-direction: column;
}

.users-data-items {
    display: flex;
    flex-direction: column;
    padding: 4px;
    transition-duration: 0.1s;
    cursor: default;
}

.users-data-items:hover {
    background: #ececec;
}

.users-data-items>div {
    display: flex;
    align-items: center;
}

.users-data-items>a {
    font-size: 14px;
    color: #717171;
    margin-left: 23px;
}

.left-area {
    background: var(--color-users-backgroud);
}

#option-data>a {
    font-size: 14px;
    color: #5f5f5f;
}

#information {
    position: absolute;
    bottom: -140px;
    left: 12px;
    display: flex;
    align-items: center;
    padding: 14px;
    padding-left: 18px;
    padding-right: 18px;
    background: #323232;
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, .14), 0px 1px 18px 0px rgba(0, 0, 0, .12), 0px 3px 5px -1px rgba(0, 0, 0, .2);
    z-index: 100;
}

#information>a {
    color: #ffffff;
    font-size: 14px;
}

#preview-dialog {
    position: absolute;
    width: 320px;
    border-radius: 3px;
}

#preview-dialog>img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}