.message-area {
    width: calc(100vw - 210px);
    height: calc(100vh - 26px);
    background: var(--color-message-background);
}

#message-data {
    display: flex;
    flex-direction: column;
    height: calc(100% - 32px);
    overflow: hidden scroll;
    background: var(--color-message-background);
}

.message-data-my {
    background: var(--color-message-background-my);
}

.message-data-items {
    display: flex;
    align-items: flex-start;
    padding-top: 3px;
    padding-bottom: 3px;
    transition-duration: 0.08s;
    cursor: default;
    background: var(--color-message-background);
}

.message-data-items:hover {
    background: #ebebeb;
}

.message-data-item {
    font-size: 18px;
    font-family: 'Noto Sans', 'Noto Sans JP', sans-serif;
    margin-left: 8px;
    margin-right: 8px;
}

.message-data-timestamp {
    color: var(--color-message-timestamp);
    font-size: 16px;
    padding-top: 3px;
    text-wrap: nowrap;
}

.message-data-username {
    font-weight: 600;
    text-wrap: nowrap;
}

.message-data-link {
    color: var(--color-message-link);
    text-decoration: underline;
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 0px;
}

.message-data-gif {
    width: 230px;
    height: auto;
}

.message-data-id {
    color: #c5c5c5;
    padding-top: 2px;
    margin-right: 4px;
}

.message-data-buttons {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 2px;
}

.message-data-button {
    width: 26px;
    height: 26px;
    text-align: center;
}

.message-data-button:hover {
    background: #d2d2d2;
}